body{
    display:flex;
    flex-direction:column;
    margin:0px;
    padding:0px;
    
}

nav{
    background-color:#011936FF;
    width:100vw;
    height:10vh;
}

main{
    background-color:#F4FFFDFF;
    width:100vw;
    height:85vh; 
}

footer{

    background-color:#011936FF;
    width:100vw;
    height:5vh;
}